.div1 {
	padding: 31px;
	margin: 50px auto;
	border: none;
	max-width: 980px;
	font-size: 17px;
	/* margin: auto; */
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px lightgray;
}
.btn {
	/* margin-left: 50px; */
	color: white;
	width: 84%;
	/* height: 30px; */
	border: none;
	background: linear-gradient(156deg,#6b56cb,#af52c3);
	margin: 6px 30px;
	border-radius: 5px;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
	float: right;
	width: 170px;
	margin: -15px 2;
}
