.div2, .div1 {
	padding: 20px;
	margin: 20px auto;
	/* border: 1px dashed black; */
	max-width: 980px;
	font-size: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px lightgray;
	padding-bottom: 10px;
}
.div2{
	overflow-y:scroll;
}
.btn {
	/* margin-left: 50px; */
	color: white;
	width: 84%;
	/* height: 30px; */
	border: none;
	background: linear-gradient(156deg,#6b56cb,#af52c3);
	margin: 6px 30px;
	border-radius: 5px;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
	float: right;
	width: 170px;
}

.inp {
	margin-top: 10px;
	height: 40px;
	width: 285px;
	/* height: 30px; */
	/* margin-left: 20px; */
	padding: 12px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 5px 0px lightgray;
}

@media only screen and (max-width:480px){
	.inp {
		width: 214px;
	}
	.btn {
		width: 98px;
		margin: 8px 0px;
		padding: 12px;
	}
}