.div1{
	margin:120px auto;
	border:1px solid red;
	width:350px;
	height:230px;
}
.p1{
	margin:auto;
	padding:15px;
	text-align:center;
	color:red;
	font-size:28px;
	border-radius:10px 10px 0 0;
}

.res{
	margin-top:20px;
	margin-left:40px;
	font-size:22px;
	color:red;
}
.btn{
	margin-top:20px;
	margin-left:40px;
	color:red;
	width:270px;
	height:30px;
	background-color:transparent;
	border:1px solid red;
}