.div1{
	margin:120px auto;
	width:350px;
	height:176px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 10px 1px lightgray;
}
.p1 {
	border-radius: 4px 4px 0 0;
	padding: 15px;
	/* background-color: #001f3f; */
	font-size: 30px;
	color: #ff6565;
	font-family: Arial, Helvetica, sans-serif;
	padding: 26px 0 0;
	text-shadow: 3px 3px 3px #ddd;
	text-align: center;
}

.res {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 19px;
	color: red;
	padding: 6px;
}