.div1{
	margin:120px auto;
	width:350px;
	height:176px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 10px 1px lightgray;
	
}

.p1{
	border-radius: 4px 4px 0 0;
	padding: 15px;
	/* background-color: #001f3f; */
	font-size: 21px;
	color: #ff6565;
	font-family: Arial, Helvetica, sans-serif;
	padding: 26px 0 0;
	text-shadow: 3px 3px 3px #ddd;
	text-align: center;
}

.btn {
	/* margin-left: 50px; */
	color: white;
	width: 84%;
	/* height: 30px; */
	border: none;
	background: linear-gradient(156deg,#6b56cb,#af52c3);
	margin: 6px 30px;
	border-radius: 5px;
	padding: 15px;
	font-size: 15px;
	cursor:pointer;
}